.git
.github
.vscode
.agents
.turbo

node_modules
**/node_modules

**/.next
**/dist
**/coverage

**/.env
**/.env.*
!apps/server/.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
